.row-th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.background-grey {
    background-color: #f2f2f2;
}

.border {
    border: 1px solid #ddd;
}

.hidden-row {
    display: none;
}